*

!.github/
!.github/workflows/
!.github/workflows/*

!.gitignore
!LICENSE
!pyproject.toml
!README.md
!CMakeLists.txt
!Doxyfile
!.readthedocs.yml

!include/
!include/*

!src/
!src/*

!test/
!test/*

!python/
!python/*

!docs/
!docs/conf.py
!docs/index.md
!docs/requirements.txt
